<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Startup List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method StartupController.listAll -->
    <form id="filter-form" th:action="@{/startups}" th:method="GET">
        <label for="name">Startup Name</label>
        <input id="name" type="text" name="name"/>

        <label for="valuation">Valuation (in millions)</label>
        <input id="valuation" type="number" name="valuation"/>

        <label for="yearFounded">Year Founded</label>
        <input id="yearFounded" type="number" min="2000" name="yearFounded"/>

        <label for="industry">Industry</label>
        <select id="industry" name="industry">
            <option value="">All</option>
            <!-- For each Industry you should have one <option> like below  -->
            <option th:each="i : ${industries}"
                    th:value="${i}"
                    th:text="${i}"
                    th:selected="${industry != null && industry == i}">
            </option>

        </select>

        <label for="founderId">Founder</label>
        <select id="founderId" name="founderId">
            <option value="">All</option>
            <!-- For each founder you should have one <option> like below  -->
            <option th:each="f : ${founders}"
            th:value="${f.getId()}"
            th:text="${f.getName()}"
            th:selected="${founderId != null && founderId == f.getId()}">
            </option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- StartupController.showAdd -->
        <th:block sec:authorize="hasRole('ADMIN')">
        <a href="/startups/add" class="add-item">Add new startup</a>
        </th:block>
    </div>

    <table>
        <tr>
            <th>Startup Name</th>
            <th>Valuation</th>
            <th>Year Founded</th>
            <th>Industry</th>
            <th>Founder</th>
            <th>Active/Deactivated</th>
            <th>Actions</th>
        </tr>
        <!-- For each startup you should have one <tr> like below -->
        <tr class="item" th:each="startup : ${page.getContent()}">
            <td th:text="${startup.name}">[startup.name]</td>
            <td th:text="${startup.valuation}">[startup.valuation]</td>
            <td th:text="${startup.yearFounded}">[startup.yearFounded]</td>
            <td th:text="${startup.industry}">[startup.industry]</td>
            <td th:text="${startup.getFounder() != null} ? ${startup.getFounder().getName()} : 'No founder'">[startup.founder.name]</td>
            <td th:text="${startup.isActive()} ? 'ACTIVE' : 'DEACTIVATED'">[startup.active] -> ACTIVE/DEACTIVATED</td>
            <td>
                <!-- StartupController.edit -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/startups/edit/{id}' (id=${startup.getId()})}" class="edit-item">Edit</a>
                </th:block>
                <!-- StartupController.delete -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <form th:action="@{'/startups/delete/{id}' (id=${startup.getId()})}"
                      th:method="POST">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                </th:block>

                <!-- StartupController.close -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <form
                        th:if="${startup.isActive()}"
                        th:action="@{'/startups/deactivate/{id}' (id=${startup.getId()})}"
                      th:method="POST">
                    <button type="submit" class="close-item">Deactivate</button>
                </form>
                </th:block>

            </td>
        </tr>
    </table>
    <div th:include="paging :: pageSection(${page})"></div>
</div>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
